

.heading-top{
  text-align: center;
  padding: 30px;
}

h5{
  text-align: center;
  padding-bottom: 20px;
}

.errorNotice{
  text-align: center;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
}

.errorButton{ 
  border-radius: 10px;
  color: white;
  background-color: grey;
  border: 1px solid grey;
  font-size: 18px;
}

.errorButton:hover{
  color: black;
}